* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: syne mono;
    height: 100vh;
}

header {
    background-color: #000;
    flex-shrink: 0;
}

.logo img {
    width: 30%;
}

main {
    flex: 1 0 auto; /* flex: flex-grow flex-shrink flex-basis|auto|initial|inherit; */
    padding: 10px;
}

.videos {
    padding: 10px;
}

.video {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video iframe {
    width: 560px;
    height: 315px;;
}

footer {
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer a, footer p {
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.hamburger {
    display: none;
    user-select: none;
}

.menu {
    display: flex;
}

.menu-items {
    display: flex;
}

.menu-items a,.hamburger a {
    color: #fff;
}

.menu-items li:hover {
    background-color: #555;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu-items li {
    padding: 5px 14px;
}

@media only screen and (max-width: 640px) {
    .navbar {
        flex-direction: column;
    }
    .logo {
        flex-grow: 1;
    }
    .menu {
        align-self: stretch;
    }
    .menu-items {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #000;
    }
    .menu-items:target {
        display: flex;
    }

    .menu-items li:hover {
        display: inline-block;
        background-color:#555;
        transition: ease;
    }

    .menu-items li {
        margin-top: 12px;
    }

    .hamburger {
        display: block;
    }

    .video iframe {
        width: 256px;
        height: 144px;
    }

}
